* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.main-container {
  display: flex;
  height: 100svh;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-outer-wrapper {
  height: 25rem;
}
.form-inner-wrapper {
  width: 25rem;
}
.example-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.fade-slide-in-animation {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeSlideInAnimation 0.5s forwards;
}

@keyframes fadeSlideInAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
