* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: flex-start;
	gap: 1rem;
}

.container {
	position: absolute;
	border: solid black 5px;
	border-radius: 5px;
	margin-top: 5rem;
	width: 50%;
	height: 100vh;
	left: 10rem;
}

h1 {
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	position: absolute;
	bottom: 38.75rem;
	z-index: 5;
	left: 49rem;
}
h1 span {
	border: solid black 1px;
	width: 50%;
	border-radius: 10px;
	padding: 1rem 2rem;
	background-color: #fff;
}

main {
	display: flex;
	justify-content: center;
	height: 40vh;
	width: 100vw;
	align-content: center;
	margin-bottom: 6rem;
	margin-top: 4rem;
}

table {
	border: solid black 1px;
	text-align: center;
	table-layout: fixed;
	width: 31rem;
}
table.noSpacing {
	border-spacing: 0;
	border-collapse: collapse;
}

.wordSearchTable {
	text-align: center;
	margin-top: 3rem;
}

caption {
	caption-side: bottom;
	padding: 1rem;
}
thead {
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
}

th {
	padding-bottom: 1rem;
}
.wordSearchMeta {
	column-span: all;
	text-align: center;
}

tr {
	height: 5px;
}
tr:first-child {
	border-top: solid black 1px;
}
td {
	padding: -1rem;
	text-align: center;
	text-transform: capitalize;
	font-size: 1.75rem;
}

.wordsTable {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.wordsTable table td {
	border: hidden;
}

@page {
	width: 21cm 29.7cm;
	margin: 30mm 45mm 30mm 45mm;
	/* change the margins as you want them to be. */
}
